[Unit]
Description=i3lockmore on suspend
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:1
ExecStart=/usr/bin/i3lockmore --pixelate

[Install]
WantedBy=sleep.target

