;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
;background = ${xrdb:color0:#222}
background = #00000000
background-alt = #00000000
;background = #222
;background-alt = #444
;foreground = ${xrdb:color7:#222}
foreground = #dfdfdf
foreground-alt = #555
primary = #ffb52a
secondary = #e60053
alert = #bd2c40

[bar/main]
;monitor = ${env:MONITOR:HDMI-1}
width = 100%
height = 40 
;height = 27
;offset-x = 1%
;offset-y = 1%
;radius = 6.0
fixed-center = false

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 3
line-color = #f00

border-size = 0
;border-size = 4
;border-color = #00000000

padding-left = 2 
padding-right = 2

module-margin-left = 1
module-margin-right = 2

font-0 = fixed:pixelsize=10;1
font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
font-2 = FontAwesome:pixelsize=10;1 
font-3 = Font Awesome 5 Free Solid:pixelsize=10;1
font-4 = Siji:pixelsize=10;1
font-5 = Noto Color Emoji:pixelsize=1;1
font-6 = DejaVu Sans:pixelsize=10;1
font-7 = Weather Icons:size=12;1
font-8 = DejaVuSansMono Nerd Font:pixelsize=20;3

modules-left = i3
modules-center = 
modules-right = system-usb-udev pulseaudio openweathermap-fullfeatured date powermenu

tray-position = center 
tray-padding = 2
tray-background = #00000000

;wm-restack = bspwm
;wm-restack = i3

;override-redirect = true

scroll-up = i3wm-wsnext
scroll-down = i3wm-wsprev

cursor-click = pointer
cursor-scroll = ns-resize


[bar/sysinfo]
;monitor = ${env:MONITOR:HDMI-1}
width = 100%
height = 40 
;height = 27
;offset-x = 1%
;offset-y = 1%
;radius = 6.0
fixed-center = false

bottom = true

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 3
line-color = #f00

border-size = 0
;border-size = 4
;border-color = #00000000

padding-left = 2
padding-right = 2

module-margin-left = 2
module-margin-right = 2

font-0 = fixed:pixelsize=10;1
font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
font-2 = FontAwesome:pixelsize=10;1 
font-3 = Font Awesome 5 Free Solid:pixelsize=10;1
font-4 = Siji:pixelsize=10;1
font-5 = Noto Color Emoji:pixelsize=1;1
font-6 = DejaVuSansMono Nerd Font:pixelsize=10;1
font-7 = Weather Icons:size=12;1
font-8 = Font Awesome 5 Brands:pixelsize=10;1
font-9 = DejaVuSans Nerd Font Mono:pixelsize=20;3

modules-left = info-hackspeed info-softwarecounter
modules-center = info-kernel 
modules-right = updates-pacman-aurhelper filesystem memory system-nvidia-smi cpu system-cpu-temppercore system-cpu-frequency eth temperature 
#modules-right = updates-pacman-aurhelper filesystem memory system-nvidia-smi cpu system-cpu-frequency eth system-cpu-temppercore 

tray-position = none 
;tray-padding = 2
;tray-background = #0063ff

;wm-restack = i3

;override-redirect = true

;scroll-up = i3wm-wsnext
;scroll-down = i3wm-wsprev

cursor-click = pointer
cursor-scroll = ns-resize 

;-------------------------
;Custom modules:

[module/updates-pacman-aurhelper]
type = custom/script
exec = ~/.config/polybar/polybar-scripts/updates-pacman-aurhelper.sh
interval = 600


[module/openweathermap-fullfeatured]
type = custom/script
exec = ~/.config/polybar/polybar-scripts/openweathermap-fullfeatured.sh
interval = 600
label-font = 3

[module/info-kernel]
type = custom/script
exec = uname -r
interval = 1024
format-prefix = %{T10} %{T}
;format-prefix = %{T10} %{T}

[module/info-softwarecounter]
type = custom/script
exec = ~/.config/polybar/polybar-scripts/info-softwarecounter.py
interval = 10
format-prefix-padding = 5

[module/info-hackspeed]
type = custom/script
exec = ~/.config/polybar/polybar-scripts/info-hackspeed.sh
tail = true
format-prefix = %{T10} %{T}

[module/system-cpu-frequency]
type = custom/script
exec = ~/.config/polybar/polybar-scripts/system-cpu-frequency.sh
interval = 5
format-underline = #f90000

[module/system-nvidia-smi]
type = custom/script
exec = ~/.config/polybar/polybar-scripts/system-nvidia-smi.sh
interval = 10
format-prefix =   
format-prefix-padding = 2
format-underline = #54FF19

[module/system-usb-udev]
type = custom/script
exec = ~/.config/polybar/polybar-scripts/system-usb-udev.sh
tail = true
click-left = ~/.config/polybar/polybar-scripts/system-usb-udev.sh --mount
click-right = ~/.config/polybar/polybar-scripts/system-usb-udev.sh --unmount

[module/system-cpu-temppercore]
type = custom/script
exec = ~/.config/polybar/polybar-scripts/system-cpu-temppercore.sh
interval = 60
format-underline = #f90000

;-------------------------

[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

;format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format-prefix-underline = ${colors.secondary}

label-layout = %layout%
label-layout-underline = ${colors.secondary}

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /
#mount-1 = /mnt/5C03E5E86E36FBA2

label-mounted = %{F#0a81f5}%mountpoint%%{F-}: %percentage_used%%
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true 
wrapping-scroll = true
;fuzzy-match = true

; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %icon% %name%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2

; unfocused = Inactive workspace on any monitor
label-unfocused = %icon% 
label-unfocused-padding = 2

; visible = Active workspace on unfocused monitor
label-visible = %icon%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %icon% %name%
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

; Separator in between workspaces
label-separator = |

; ws-icon-[0-9]+ = label;icon
; NOTE: The label needs to match the name of the i3 workspace
ws-icon-0 = "1 Sys;%{T9} %{T}"
ws-icon-1 = "2 Comm;%{T9} %{T}"
ws-icon-2 = "3 Web;%{T9}爵 %{T}"
ws-icon-3 = "4 Work;%{T9}華 %{T}"
ws-icon-4 = "5 Games;%{T9} %{T}"
ws-icon-default = "%{T9} %{T}"
; NOTE: You cannot skip icons, e.g. to get a ws-icon-6
; you must also define a ws-icon-5.

[module/mpd]
type = internal/mpd
format-online = <label-song>  <icon-prev> <icon-stop> <toggle> <icon-next>

;icon-prev = 
;icon-stop = 
;icon-play = 
;icon-pause = 
;icon-next = 

label-song-maxlen = 25
label-song-ellipsis = true

[module/xbacklight]
type = internal/xbacklight

format = <label> <bar>
label = BL

bar-width = 10
bar-indicator = |
bar-indicator-foreground = #fff
bar-indicator-font = 2
bar-fill = ─
bar-fill-font = 2
bar-fill-foreground = #9f78e1
bar-empty = ─
bar-empty-font = 2
bar-empty-foreground = ${colors.foreground-alt}

[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight

[module/cpu]
type = internal/cpu
interval = 2

; Available tags:
;   <label> (default)
;   <bar-load>
;   <ramp-load>
;   <ramp-coreload>
format = <label> <ramp-coreload>
;format = <label> <ramp-load> 
;format = <bar-load>

; Available tokens:
;   %percentage% (default) - total cpu load averaged over all cores
;   %percentage-sum% - Cumulative load on all cores
;   %percentage-cores% - load percentage for each core
;   %percentage-core[1-9]% - load percentage for specific core
;label = %percentage-cores%
label = %percentage%%

; Spacing between individual per-core ramps
ramp-coreload-spacing = 1
ramp-coreload-0 = %{T7}▁%{T}
ramp-coreload-1 = %{T7}▂%{T}
ramp-coreload-2 = %{T7}▃%{T}
ramp-coreload-3 = %{T7}▄%{T}
ramp-coreload-4 = %{T7}▅%{T}
ramp-coreload-5 = %{T7}▆%{T}
ramp-coreload-6 = %{T7}▇%{T}
ramp-coreload-7 = %{T7}█%{T}

format-prefix = " "
format-prefix-padding = 2
;format-prefix = " "
;format-prefix-foreground = ${colors.foreground-alt}
format-underline = #f90000


[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
;format-prefix = " "
;format-prefix-foreground = ${colors.foreground-alt}
format-underline = #4bffdc
label = %percentage_used%%
format-prefix-padding = 2

[module/wlan]
type = internal/network
interface = wlp3s0
interval = 3.0

format-connected = <ramp-signal> <label-connected>
format-connected-underline = #9f78e1
label-connected = %essid%%upspeed:9% %downspeed:9% 

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-foreground = ${colors.foreground-alt}

[module/eth]
type = internal/network
interface = enp3s0
interval = 3.0

format-connected-underline = #9f78e1
;format-connected-underline = #55aa55
format-connected-prefix = 
;format-connected-prefix-foreground = ${colors.foreground-alt}
;label-connected = %upspeed:9% %downspeed:9% 
label-connected = %upspeed:9% %{T7}%{T}%downspeed:9% %{T7}%{T}

format-disconnected = 
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

[module/date]
type = internal/date
interval = 5

date =
date-alt = " %d/%m/%Y"

time = %H:%M
time-alt = %H:%M:%S

format-prefix =  
;format-prefix = 
;format-prefix-foreground = ${colors.foreground-alt}
format-underline = #0a6cf5

label = %date% %time%

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume> <bar-volume>
label-volume = VOL %percentage%%
label-volume-foreground = ${root.foreground}

label-muted = " muted"
;label-muted = 🔇 muted
label-muted-foreground = #666

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/alsa]
type = internal/alsa

format-volume = <label-volume> <bar-volume>
label-volume = VOL
label-volume-foreground = ${root.foreground}

;format-muted-prefix = " "
format-muted-foreground = ${colors.foreground-alt}
label-muted = sound muted

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/battery]
type = internal/battery
battery = BAT0
adapter = ADP1
full-at = 98

format-charging = <animation-charging> <label-charging>
format-charging-underline = #ffb52a

format-discharging = <animation-discharging> <label-discharging>
format-discharging-underline = ${self.format-charging-underline}

format-full-prefix = " "
format-full-prefix-foreground = ${colors.foreground-alt}
format-full-underline = ${self.format-charging-underline}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-foreground = ${colors.foreground-alt}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-foreground = ${colors.foreground-alt}
animation-charging-framerate = 750

animation-discharging-0 = 
animation-discharging-1 = 
animation-discharging-2 = 
animation-discharging-foreground = ${colors.foreground-alt}
animation-discharging-framerate = 750

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-underline = #f50a4d
format-warn = <ramp> <label-warn>
format-warn-underline = ${self.format-underline}

label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.secondary}

ramp-0 =%{T5}%{T}
ramp-1 =%{T5}%{T}
ramp-2 =%{T5}%{T}
ramp-foreground = ${colors.foreground-alt}

; Laptop PC
;hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon1/temp1_input
;acpitz: temp1 /sys/devices/virtual/thermal/thermal_zone0/hwmon0/temp1_input
;coretemp: Package id 0 /sys/devices/platform/coretemp.0/hwmon/hwmon1/temp1_input
;coretemp: Core 0 /sys/devices/platform/coretemp.0/hwmon/hwmon1/temp2_input
;coretemp: Core 2 /sys/devices/platform/coretemp.0/hwmon/hwmon1/temp4_input
;iwlwifi: temp1 /sys/devices/virtual/thermal/thermal_zone5/hwmon2/temp1_input

; Desktop PC
hwmon-path = /sys/devices/pci0000:00/0000:00:18.3/hwmon/hwmon1/temp1_input
;k10temp: temp1 /sys/devices/pci0000:00/0000:00:18.3/hwmon/hwmon0/temp1_input
;it8720: temp1 /sys/devices/platform/it87.552/hwmon/hwmon1/temp1_input
;it8720: temp2 /sys/devices/platform/it87.552/hwmon/hwmon1/temp2_input
;it8720: temp3 /sys/devices/platform/it87.552/hwmon/hwmon1/temp3_input

[module/powermenu]
type = custom/menu

expand-right = true

format-spacing = 1

label-open = " "
;label-open = ""
label-open-foreground = ${colors.secondary}
label-close =  cancel
label-close-foreground = ${colors.secondary}
label-separator = |
label-separator-foreground = ${colors.foreground-alt}

menu-0-0 = reboot
menu-0-0-exec = menu-open-1
menu-0-1 = power off
menu-0-1-exec = menu-open-2

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-1 = reboot
menu-1-1-exec = reboot

menu-2-0 = power off
menu-2-0-exec = poweroff
menu-2-1 = cancel
menu-2-1-exec = menu-open-0

;menu-3-0 = suspend
;menu-3-0-exe = systemctl suspend
;menu-3-1 = power off
;menu-3-1-exe = menu-open-0

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

[global/wm]
margin-top = 5
margin-bottom = 5

; vim:ft=dosini
